<!DOCTYPE html>
<html>
<head>
    <title>會員中心</title>
    <style>
        #member {margin: 0 250px;}
        #member section {margin:0 2rem;}
    </style>
</head>
<% include header %>
<body>
    <div class="container">
        <div class="row">
            <form id="mainform" action="/member/login1" method="POST">
                <% if　(loginStatus == false) { %>
                    <% include loginlayout %>
                <% } else if (loginStatus == true) {%>
                    <div id="member">
                        <section>
                            <ul>
                                <li><a href="/member/edit">編輯基本資料</a></li>
                                <li><a href="/member/newpass">修改密碼</a></li>
                                <li><a href="product/orderlist">訂單查詢</a></li>
                            </ul>
                        </section>
                        <section>
                            <% for(var i=0 ; i < data.length;i++) { %>
                                <span id="name">中文全名：<%= data[i].username %></span><br>
                                <span id="email">E-mail：<%= data[i].email %></span><br>
                                <span id="tel">室內電話：<%= data[i].tel %></span><br>
                                <span id="birth">生日：<%= moment(data[i].birth).format('YYYY-MM-DD') %></span><br>
                                <span id="address">地址：<%= data[i].address %></span>
                            <% } %>  
                        </section>
                    </div>
                <% } %>
            </form>
        </div>
    </div>
</body>
</html>
        