<!DOCTYPE html>
<html>
<head></head>
    <title>購物車</title>
    <style>
        #total,#total+span{font-size:2rem;}
        .msg{font-size:18px;}
        .msg a {color:rgba(14, 121, 153, 0.867);}
        .checkbtn{margin:50px 0;}
        .btn-primary{margin:15px 0;}       
        .pro-pic{max-height:80px;max-width:130px;}       
        .h-center{line-height: 80px !important;}    
        tbody input{max-height: 26px;}                      
    </style>
</head>
<% include header %>
<body>
<form id="mainform" action="/deleteproduct" method="">
<div id="wrapper">
    <div id="page">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="/">首頁</a>
                </li>

                <li class="active">購物車</li>
            </ol>
        </div>
        <div class="col-lg-12">
            <h2 class="top">購物車清單</h2>
        </div>
        <% if(loginStatus == false) {%>
            <% include loginlayout %>
        <% }else if(loginStatus == true) { %>
            <% if (data.length == 0) {%>
                <div class="msg text-center"><%- message2 %></div>
            <% } else { %>
            <input type="hidden" id="productId" name="productId" />
            <div id="panBody" class="panel-body">
                <div id="cart_list" class="col-lg-10">
                    <table class="myTable table table-hover col-lg-offset-1">
                        <thead>
                            <tr>
                                <th scope="col" class="col-lg-3 text-center">圖片</th>
                                <th scope="col" class="col-lg-2 text-center">商品名稱</th>
                                <th scope="col" class="col-lg-1 text-center">售價</th>
                                <th scope="col" class="col-lg-2 text-center">購買數量</th>
                                <th scope="col" class="col-lg-2 text-center">小計金額</th>
                                <th scope="col" class="col-lg-1 text-center">刪除</th>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                            <% for(var i=0 ; i < data.length;i++) { %>
                                <td class="text-center">
                                    <img class="pro-pic" src="/upload/<%=data[i].pic %>" alt="">
                                </td>
                                <td class="text-center h-center">
                                    <%=data[i].product_name %>
                                </td>
                                <td class="text-center h-center">
                                    <%=data[i].price %>
                                </td>
                                <td class="amount text-center h-center">
                                    <input type="button" value="-" onclick="cut(this,<%=data[i].PD_ID %>)" class="btn btn-info btn-sm"/>
                                    <%=data[i].PRODUCT_AMOUNT %>
                                    <input type="button" value="+" onclick="add(this,<%=data[i].PD_ID %>)" class="btn btn-info btn-sm"/>
                                </td>
                                <td class="subtotal text-center h-center">
                                    <%=data[i].subtotal %>
                                </td>
                                <td class="text-center h-center">
                                    <input type="button" id="delete" onclick="deleteAction(<%=data[i].PD_ID %>)" class="btn btn-warning btn-sm" value="刪除">
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <div class="checkbtn col-lg-2 col-lg-offset-10">
                        <span id="total">總價：</span><span>元</span><br>
                        <button type="submit" id="check" onclick="checkAction()" class="btn btn-primary">進入結帳</button>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
</form>
<% } %>        
    <script>
        $(function () {
            var totalAdd = 0;
            var request = new XMLHttpRequest();
            //取值方法2
            // console.log(mathScore);
            // for(var i=0;i<mathScore.length;i++){
            //     console.log(mathScore[i]);
            // }
            $(".subtotal").each(function(i){
                totalAdd += parseInt($(this).text());
                // var total = [];
                return totalAdd;     
            });
            $("#total").append("<span>" + totalAdd + "</span>");
            // console.log($("#productId").val());
        });

        function add(k, id) {　//k是指input本身，id則是PD_ID
            $('#productId').val(id);　　//把PD_ID放到productId裡面
            console.log($('#productId').val());
            $(id).parent().parent().find('.amount').text().replace(' ', '');  //把產品的id取出
            var amount = parseInt($(k).parent().parent().find('.amount').text()) + 1;  //改變amount的值
            console.log(amount);
            // console.log($('#productId').text());        
            $(k).parent().parent().find('.amount').text(amount);　//把改好的值放回amount中（前端表格）
            updateAmount(amount);  //把改變的值傳到令一個函數做ajax的即時更動
        }

        function cut(k, id) {
            $('#productId').val(id);
            console.log($('#productId').val());
            // console.log($(i).parent().parent().find('.amount').text());
            $(id).parent().parent().find('.amount').text().replace(' ', '');
            // console.log($(i).parent().parent().find('.amount').text().replace(' ', ''));
            var amount = parseInt($(k).parent().parent().find('.amount').text()) - 1;
            if (amount < 1) {
                amount = 1;
            }
            console.log(amount);
            $(k).parent().parent().find('.amount').text(amount);
            updateAmount(amount);
        }

        function updateAmount(amount) {
            var totalAdd = 0;
            $.ajax({
                url: '/product/ajaxUpdateCart',
                method: 'GET',
                dataType: 'text',
                data: {
                    productId: $('#productId').val(),
                    amount: amount,
                },
                success: function (data) {
                    $('#cart_list').remove();
                    $('#panBody').append(data);
                    $(".subtotal").each(function (i) {
                        totalAdd += parseInt($(this).text());
                        return totalAdd;
                    });
                    $("#total").append("<span>" + totalAdd + "</span>");
                },
                err: function () {
                    console.log(err);
                }
            })
        }

        function deleteAction(i) {
            var totalAdd = 0;
            $('#productId').val(i);            
            $.ajax({
                url:'/product/ajaxDeleteCart',
                method:'POST',
                type:'text',
                data:{
                    productId: $('#productId').val(),
                },
                success: function(data){
                    $('#cart_list').remove();
                    $('#panBody').append(data);$('#productId').val(i);

                    $(".subtotal").each(function (i) {
                        totalAdd += parseInt($(this).text());
                        return totalAdd;
                    });
                    $("#total").append("<span>" + totalAdd + "</span>");                    
                },
                err: function () {
                    console.log(err);
                }
            })
        }
        function checkAction() {
            //改變form的action與method，這樣一個檔案中就不會有多個form了
            $("#mainform").attr("action","/product/check");
            $("#mainform").attr("method","post");
        }
    </script>
</body>
</html>