<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>編輯基本會員資料</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <main>
        <% if (loginStatus == false) { %>
            <span>請先登入<br>按我<a href="/login">登入</a></span>
        <% } else if(loginStatus == true) { %>
        <section>
            <form action="member-edit1" method="POST">
                <span id="name">中文全名：<%- username %></span><br>
                <span id="email">E-mail：<%- email %></span><br>
                <span id="tel">室內電話：<%- tel %></span><br>
                <span id="birth">生日：<%- birth %></span><br>
                <span id="address">地址：<%- address %></span><br>
                <input type="submit" value="送出">
            </form>
        </section>
        <%- message %>
        <% } %>
    </main>
</body>

</html>