<!DOCTYPE html>
<html>

<head>
    <title>編輯基本會員資料</title>
    <style>
        #edit {margin: 0 250px;}
        input {margin:0.5rem 0;}
        label>input {color:rgb(77, 77, 77);font-weight:500;}
    </style>
</head>
<% include header %>
<body>
    <% if (loginStatus == false) { %>
        <span>請先登入<br>按我<a href="/member/login">登入</a></span>
    <% } else if(loginStatus == true) { %>
    <section id="edit">
        <form action="/member/edit1" method="POST">
            <label>中文全名：<input type="text" value="<%= data[0].username %>" name="username"></label><br>
            <label>E-mail：<input type="text" value="<%= data[0].email %>" disabled></label><br>
            <label>室內電話：<input type="text" value="<%= data[0].tel %>" name="tel"></label><br>
            <label>生日：<input type="text" value="<%= moment(data[0].birth).format('YYYY-MM-DD') %>" name="birth"></label><br>
            <label>地址：<input type="text" value="<%= data[0].address %>" name="address"></label><br>
            <input type="submit" value="送出">
        </form>
    </section>
    <%- message %>
    <% } %>
</body>

</html>