<!DOCTYPE html>
<html lang="en">
<head>
    <title>最新消息</title>
    <style>
        .newsBlock{height:200px;padding:10px;margin: 10px;}
        .newsBlock div{height:180px;}
        .newsBlock img {max-height: 180px;}
        .newsBlock h3{display:inline-block;}
        .time{margin-left: 10px;color:#666;}
        .content{overflow : hidden;text-overflow : ellipsis;width:90%;font-size: 16px;
            -webkit-line-clamp: 4; display: -webkit-box;-webkit-box-orient: vertical;
            white-space: normal;margin:10px;}
        .more{position: absolute;bottom:20px;right:-50px;}
        .news-list{margin:13em 0 0;}
        .h-center{line-height:180px;}
        .nopic{background-color:rgba(212, 212, 212, 0.473);}
    </style>
</head>
<% include header %>
<body>
<form id="mainForm" action="/newsContent" method="get">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">首頁</a></li>
            <li class="active">最新消息</li>
        </ol>
    </div>
    <div class="col-lg-12">
        <h2 class="top">最新消息</h2>
    </div>
    <section id="sortbar">
        <div class="col-lg-8 col-lg-offset-3">
            <div class="col-lg-5">
                <label>排序方式             
                    <select name="sort" id="sort" onchange="sortSearch()" name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
                        <option value="">請選擇條件</option>
                        <option value="1">時間(由新至舊)</option>
                        <option value="2">時間(由舊至新)</option>
                    </select>
                </label>
            </div>
            <div class="col-lg-5">
                <input type="text" name="search" id="search" class="form-control input-sm">
                <input type="button" class="btn btn-info btn-sm" value="查詢" onclick="sortSearch()">
            </div>
        </section>
        <section id="panBody">
            <div id="news_list">
                <input type="hidden" id="newsId" name="newsId">
                <div class="news-list">
                    <% for(var i=0 ; i < data.length ; i++) { %>
                    <section class="newsBlock col-lg-8 col-lg-offset-2">
                        <% if (data[i].pic !== "" && data[i].pic !== null) { %>
                        <div class="col-lg-4 text-center">
                            <img src="upload/<%=data[i].pic %>" alt="" class="rounded">
                        </div>
                        <% } else { %>
                        <div class="nopic col-lg-4 text-center">
                            <span class="text-center h-center">尚未上傳圖片</span>
                        </div>
                        <% } %>
                        <div class="col-lg-8">
                            <h3 class="h3"><%=data[i].title %></h3>
                            <span class="time"><%=moment(data[i].date).format('YYYY-MM-DD')%></span>
                            <p class="content"><%-data[i].content %></p>
                            <input type="button" onclick="newsContent(<%=data[i].id %>)" class="more btn btn-outline btn-default" value="查看更多">
                        </div>
                    </section>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
</form>
</body>

    <script>
        function sortSearch(){
            $.ajax({
                url:'ajaxNews',
                method: 'GET',
                dataType: 'text',
                data:{
                    sort: $('#sort').val(),
                    search: $('#search').val(),
                },
                success:function(data){
                    $('#news_list').remove();
                    $('#panBody').append(data);
                },
                error:function(err){
                    console.log(err);
                }
            })  
        }
        function newsContent(id){
            $('#newsId').val(id);
            $('#mainForm').submit();
        }
    </script>
</body>
</html>