<!DOCTYPE html>
<html>
<head>
    <title>產品列表</title>
    <style>
        .product-grid {width:60% !important;}
        .product-img img{padding:0.5em !important;margin-top:15%;}
        .item_quantity{width:35% !important;}
        .pro_name {font-size:1.25em !important;color:#000 !important;margin-bottom:20px !important;}
        .items{margin:0 0 0 5px!important;}
        .product-list{margin:5em 0 0;}
        .item_add{padding:0.5em 1em !important;} 
        .v-center{position:absolute;bottom: -5em;left:50%;transform:translateX(-50%);}
        .page-item {cursor: pointer;}
    </style>
</head>
<% include header %>
<body>
<form id="mainForm" action="/product/addToCart" method="POST">
<div class="product-model">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">首頁</a></li>
            <li class="active">產品列表</li>
        </ol>
    </div>
    <div class="col-lg-12">
        <h2 class="top">產品項目</h2>
    </div>
    <section id="sortbar">
        <div class="col-lg-8 col-lg-offset-3">
            <div class="col-lg-5">
                <label>排序方式
                    <select name="sort" id="sort" aria-controls="dataTables-example" class="form-control input-sm" onchange="sortSearch()">
                        <option value="">請選擇條件</option>
                        <option value="1">售價(由低至高)</option>
                        <option value="2">售價(由高至低)</option>
                    </select>
                </label>
            </div>
            <div class="col-lg-5">
                <% if(serach == null) { %>
                    <input type="text" name="search" id="search" class="form-control input-sm">
                <% }else{ %>
                    <input type="text" name="search" id="search" class="form-control input-sm" value="<%=search %>">                    
                <% } %>
                <input type="button" class="btn btn-info btn-sm" value="查詢" onclick="sortSearch()">
            </div>
            <div></div>
        </div>
    </section> 
    <section id="panBody">
        <div id="product_list">
            
            <div class="product-list col-lg-10 col-lg-offset-1">
                <input type="hidden" id="productId" name="productId">
                <input type="hidden" id="productAmount" name="productAmount">
                <% for(var i=0 ; i<data.length;i++) { %>
                <section class="col-lg-4">
                    <div class="product-grid">
                        <div class="more-product">
                            <span> </span>
                        </div>
                        <div class="product-img b-link-stripe b-animate-go thickbox">
                            <img src="upload/<%=data[i].pic%>" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="product-info simpleCart_shelfItem">
                        <div class="product-info-cust prt_name">
                            <h4 class="pro_name"><%=data[i].product_name%></h4>
                            <span class="item_price"><%=data[i].price%>元</span>
                            <input type="text" class="item_quantity" value="1" id="amount"/>
                            <input type="button" class="item_add items" value="加入購物車" onclick="addToCart(<%=data[i].product_id %>,this)">
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </section>
                <% } %>
                <!-- 分頁 -->
                <nav aria-label="Page navigation example" class="v-center">
                    <input type="hidden" name="nowPage" id="nowPage" value="1">
                    <input type="hidden" name="pages" id="pages" value="<%=pages %>">
                    <input type="hidden" name="count" id="count" value="<%=count %>">
                    <ul class="pagination">
                        <li id="preBtn" class="page-item" onclick="sortSearch(0)">
                            <a class="page-link">Previous</a>
                        </li>
                        <% for(var i=1 ; i <= pages ; i++) { %>
                            <li class="page-item" onclick="sortSearch(<%=i%>)">
                                <a class="page-link"><%=i%></a>
                            </li>
                        <% } %>
                        <li id="nextBtn" class="page-item" onclick="sortSearch(2)">
                            <a class="page-link">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</div>
</form>
<script>
    $(function () {        
        btnDisable();
        $('.memenu li').eq(3).addClass('active');  
    });

    function btnDisable() {
        console.log(123);
        var nowPage =　$("#nowPage").val();
        var pages =  $("#pages").val();
        console.log(nowPage);
        console.log(pages);
        if(nowPage == 1){
            $("#preBtn").addClass("disabled");
        }
        if(nowPage == pages){
            $("#nextBtn").addClass("disabled");                
        }
    }   

    function addToCart(productId,k){
        $("#productId").val(productId);
        var amount = $(k).parent().find(".item_quantity").val();
        $('#productAmount').val(amount);
        // alert($("#product").val());
        $('#mainForm').submit();
    }

    function sortSearch(pagesNum) {   
        $("#nowPage").val(pagesNum);     
        $.ajax({
            url: '/product/ajaxProduct',
            method: 'GET',
            dataType: 'text',
            data: {
                sort: $('#sort').val(),
                search: $('#search').val(),
                nowPage: $('#nowPage').val(),
                pages: $('#pages').val(),
                count: $('#count').val(),
            },
            success: function (data) {
                console.log(data);
                $('#product_list').remove();
                $('#panBody').append(data);
                btnDisable();
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
</script>
</body>
</html>