<!DOCTYPE html>
<html>
<head>
    <title>產品列表</title>
    <style>
        .container:before {display:block !important;content:"";}
    </style>
</head>
<% include header %>
<body>
<form id="mainForm" action="/product/addToCart" method="POST">
<div class="product-model">
    
        <ol class="breadcrumb">
            <li><a href="/">首頁</a></li>
            <li class="active">產品列表</li>
        </ol>
   
    <div class="col-lg-12">
        <h2 class="top">產品項目</h2>
    </div>
    <section class="col-lg-10">
        <section id="sortbar" class="col-lg-10 col-lg-offset-4">
            <div class="col-lg-4">
                <label>排序方式
                    <select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
                        <option value="">請選擇條件</option>
                        <option value="1">售價(由低至高)</option>
                        <option value="2">售價(由高至低)</option>
                    </select>
                </label>
            </div>
            <div class="col-lg-4">
                <input type="text" name="search" id="search" class="form-control input-sm">
                <input type="button" class="btn btn-info btn-sm" value="查詢" onclick="sortSearch()">
                <!-- <input type="search"  placeholder="" aria-controls="dataTables-example"> -->
            </div>
        </section>
        <section id="panBody">
            <div id="news_list">
                

        <div class="col-md-9 product-model-sec">
            <a href="single.html">
                <div class="product-grid">
                    <div class="more-product">
                        <span> </span>
                    </div>
                    <div class="product-img b-link-stripe b-animate-go  thickbox">
                        <img src="images/p1.jpg" class="img-responsive" alt="">
                        <div class="b-wrapper">
                            <h4 class="b-animate b-from-left  b-delay03">
                                <button>
                                    <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
                            </h4>
                        </div>
                    </div>
            </a>
            <div class="product-info simpleCart_shelfItem">
                <div class="product-info-cust prt_name">
                    <h4>Lights #1</h4>
                    <span class="item_price">$187.95</span>
                    <div class="ofr">
                        <p class="pric1">
                            <del>Rs 280</del>
                        </p>
                        <p class="disc">[12% Off]</p>
                    </div>
                    <input type="text" class="item_quantity" value="1" />
                    <input type="button" class="item_add items" value="ADD">
                    <div class="clearfix"> </div>
                </div>
            </div>
            </div>
            </div>
            </div>




            </div>
        </section>
        </div>
</form>

        <!-- <div class="row wrap1280">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        DataTables Advanced Tables
                    </div>
                    <form id="mainForm" action="/product/addToCart" method="POST">
                        <input type="hidden" id="product" name="productId" />
                        <div id="panBody" class="panel-body">
                            <table id="product_list" width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <div>
                                    <span>排序方式</span>
                                    <select name="sort" id="sort" onchange="sortSearch()">
                                        <option value="">請選擇條件</option>
                                        <option value="1">售價(由低至高)</option>
                                        <option value="2">售價(由高至低)</option>
                                    </select>
                                </div>
                                <div>
                                    <input type="text" name="search" id="search">
                                    <input type="button" value="查詢" onclick="sortSearch()">
                                </div> -->
                                <thead>
                                    <tr>
                                        <th>圖片</th>
                                        <th>品名</th>
                                        <th>產品說明</th>
                                        <th>售價</th>
                                        <th>存貨狀況</th>
                                        <th>放入購物車</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0 ; i < data.length;i++) { %>
                                        <tr class="odd gradeX">
                                            <td>
                                                <img src="<%=data[i].pic %>" alt="" />
                                            </td>
                                            <td>
                                                <%=data[i].product_name %>
                                            </td>
                                            <td>
                                                <%=data[i].description %>
                                            </td>
                                            <td class="price">
                                                <%=data[i].price %>
                                            </td>
                                            <td>
                                                <%=data[i].stock %>
                                            </td>
                                            <td>
                                                <button onclick="addToCart(<%=data[i].product_id %>)">加入購物車</button>
                                            </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
        
                        </div>
                    </form>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
<script>
    $(function () {        
        var request = new XMLHttpRequest();     
    });

    function addToCart(productId){
        $("#product").val(productId);
        // alert($("#product").val());
    }

    function sortSearch() {
        $.ajax({
            url: '/product/ajaxProduct',
            method: 'GET',
            dataType: 'text',
            data: {
                sort: $('#sort').val(),
                search: $('#search').val(),
            },
            success: function (data) {
                $('#product_list').remove();
                $('#panBody').append(data);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

</script>
</body>
</html>