<!DOCTYPE html>
<div id="news_list">
    <% if (data.length == 0) {%>
    <div class="col-lg-4 col-lg-offset-4 text-center" style="margin-top:5em;margin-bottom:5em;">
        無相符資料
        <br> 請確認輸入內容是否正確，或改用其相近關鍵字
    </div>
    <% } else {%>
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th width="10%">日期</th>
                <th width="10%">標題</th>
                <th width="10%">圖片</th>
                <th width="50%">內容</th>
                <th width="10%">狀態</th>
                <th width="10%">操作</th>
            </tr>
        </thead>
        <input type="hidden" id="newsId" name="newsId">
        <input type="hidden" id="status" name="status">
        <% for(var i=0 ; i<data.length;i++) { %>
            <tr class="odd gradeX">
                <td>
                    <%=moment(data[i].date).format('YYYY-MM-DD') %>
                </td>
                <td>
                    <%=data[i].title %>
                </td>
                <td>
                    <img src="/upload/<%=data[i].pic %>" alt="">
                </td>
                <td class="content">
                    <%-data[i].content %>
                </td>
                <td>
                    <%=statusArray[i] %>
                </td>
                <td class="text-center h-center">
                    <input type="button" onclick="content(<%=data[i].id %>)" class="myBtn btn btn-info btn-sm" value="檢視">
                    <input type="button" onclick="modifyAct(<%=data[i].id %>)" class="myBtn btn btn-warning btn-sm" value="修改">
                    <input type="button" onclick="deleteAct(<%=data[i].id %>)" class="myBtn btn btn-danger btn-sm" value="刪除">
                </td>
            </tr>
            <%} %>
        </tbody>
        <% } %>    
    </table>
</div>