<!DOCTYPE html>
<html lang="en">
<head>
    <title>消息管理-後台管理</title>
    <style>
        img {max-height:80px;max-width:130px;}
        .h-center{vertical-align: middle !important;}
        /* .content > *{overflow : hidden;text-overflow : ellipsis;width:90%;font-size: 12px !important;
            -webkit-line-clamp: 4 !important; -webkit-box-orient: vertical;max-height:120px !important;
            white-space: normal;margin:10px;} */
        .content {overflow : hidden;text-overflow : ellipsis;
            -webkit-line-clamp: 4 !important; -webkit-box-orient: vertical;max-height:120px !important;
            white-space: normal;margin:10px;}
        .content > *{font-size: 12px !important;margin:10px;}
    </style>
</head>
<% include backheader %>
<body>
<form id="mainForm" action="/admin/newsContent" method="GET">
<div id="page-wrapper">
    <div id="">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">消息列表</h1>
            </div>
        </div>
        <div class="row fontblack wrap1280">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div id="panBody" class="panel-body">
                        <div id="news_list">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th width="9%" class="h-center text-center">日期</th>
                                        <th width="10%" class="h-center text-center">標題</th>
                                        <th width="10%" class="h-center text-center">圖片</th>
                                        <th width="50%" class="h-center text-center">內容</th>
                                        <th width="6%" class="h-center text-center">狀態</th>
                                        <th width="5%" class="h-center text-center">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <input type="hidden" id="newsId" name="newsId">
                                    <input type="hidden" id="status" name="status">
                                    <% for(var i=0 ; i<data.length;i++) { %>
                                        <tr class="odd gradeX">
                                            <td class="h-center">
                                                <%=moment(data[i].date).format('YYYY-MM-DD') %>
                                            </td>
                                            <td class="h-center">
                                                <%=data[i].title %>
                                            </td>
                                            <td class="h-center">
                                                <img src="/upload/<%=data[i].pic %>" alt="">
                                            </td>
                                            <td class="content">
                                                <%-data[i].content %>
                                            </td>
                                            <td class="h-center">
                                                <%=statusArray[i] %>
                                            </td>
                                            <td class="text-center h-center">
                                                <input type="button" onclick="content(<%=data[i].id %>)" class="myBtn btn btn-info btn-sm" value="檢視">      
                                                <input type="button" onclick="modifyAct(<%=data[i].id %>)" class="myBtn btn btn-warning btn-sm" value="修改">                                            
                                                <input type="button" onclick="deleteAct(<%=data[i].id %>)" class="myBtn btn btn-danger btn-sm" value="刪除">
                                            </td>
                                        </tr>
                                        <%} %>
                                </tbody>
                            </table>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<script>
    function content(i) {
        $('#newsId').val(i);
        $('#mainForm').submit();
    }

    function modifyAct(i) {
        $('#newsId').val(i);
        $('#mainForm').attr('action','/admin/newsModify');
        $('#mainForm').submit();        
    }
    
    function deleteAct(i,g) {
        $('#newsId').val(i);
        console.log(i);
        $.ajax({
            url: '/admin/ajaxDeleteNews',
            type: 'POST',
            dataType: 'text',
            data: {
                newsId: $('#newsId').val(),
            },
            success: function (data) {
                $('#news_list').remove();
                $('#panBody').append(data);
            },
            err: function (err) {
                console.log(err);
            }
        })
    }
</script>        
</body>
</html>

